<h1> <%= @item.title %></h1>


<% @item.categories.each do |cat| %>
<p> <%= link_to cat.title, category_path(cat) %> </p>
<% end %>

<%= image_tag @item.image.medium.url %>
<p>
  <%= link_to "Download", @item.image.url, download: true %>
  </p>
