<h1>Edit Account</h1>
<%= simple_form_for @user, url: account_path do |f| %>

<%= f.input :subscription_plan, as: :select, collection:
[['Basic subscription- $9.99/month', 'plan_EHa11g4020nDwC'], ['Pro subscription- $19.99/month', 'plan_EHa1xNhgFhCHWM']], include_blank: false %>

<%= f.button :submit, "Update account" %>
<% end %>
<p>
  <%= link_to "Delete Account", account_path, method: :delete,
  data: {confirm: "Are you sure you want to delete your account?"} %></p>
